@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<LoaiPhong>

@foreach (var item in Model)
{
		<div class="feature-full-1col">
			<div class="image" style="background-image: url(@Url.Content("../images/" + item.Anh));">
				<div class="descrip text-center">
					<p><small>For as low as</small><span>@item.Gia</span></p>
				</div>
			</div>
			<div class="desc">
				<h3><a asp-controller="Home" asp-action="ChiTietPhong" asp-route-maloai="@item.MaLp">@item.LoaiPhong1</a></h3>
				<p>Pellentesque habitant morbi tristique senectus et netus ett mauada fames ac turpis egestas. Etiam euismod tempor leo, in suscipit urna condimentum sed. Vivamus augue enim, consectetur ac interdum a, pulvinar ac massa. Nullam malesuada congue </p>
				<p><a href="#" class="btn btn-primary btn-luxe-primary" >Book Now <i class="ti-angle-right"></i></a>
				</p>
			</div>
		</div>
}

<div class="feature-full-1col">
	@Html.PagedListPager(Model, page => Url.Action("Index", new {page=page}), new X.PagedList.Web.Common.PagedListRenderOptions(){
	LiElementClasses = new List<String> {"page-item"},
	PageClasses = new List<String> {"page-link"}
	})
</div>

