@using BTL.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<DichVu>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "DichVu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DichVu</h1>
<p>@TempData["Message"]</p>
<p>
    <a asp-action="ThemDichVu">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên dịch vụ
            </th>
            <th>
                Giá
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
        @foreach (var item in Model)
        {
            i++;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }
            <tr class="@cls">
            <td>
                @Html.DisplayFor(modelItem => item.TenDv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                <a asp-action="SuaDichVu" asp-route-maDv="@item.MaDv">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDv">Details</a> |
                <a asp-action="XoaDichVu" asp-route-maDv="@item.MaDv">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model,page=>Url.Action("DichVu",new {page=page}),new
    X.PagedList.Web.Common.PagedListRenderOptions(){
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"}
    }
)