
@{
    ViewData["Title"] = "GetRoom";
    Layout = "~/Views/Shared/_LayoutRoom.cshtml";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Phong>

@{
	var gia = "";
}

@foreach (var item in Model)
{
	@foreach (var lphong in ViewBag.lstPhongs)
	{
		if (lphong.MaLp == item.MaLp)
		{
			gia = lphong.Gia.ToString();
			break;
		}
	}
	<div class="col-md-4">
		<div class="hotel-content">
			<div class="hotel-grid" style="background-image: url(@Url.Content("../images/" + item.Anh));">
				<div class="price"><small>For as low as</small><span>@gia</span></div>
				<a class="book-now text-center" href="#"><i class="ti-calendar"></i> Book Now</a>
			</div>
			<div class="desc">
				<h3><a asp-controller="Room" asp-action="ChiTietPhong" asp-route-maphong="@item.MaPhong" asp-route-maloai="@item.MaLp">@item.TenPhong</a></h3>
				<h4>@item.TinhTrang</h4>
			</div>
		</div>
	</div>
}

<div class="feature-full-1col">
	@Html.PagedListPager(Model, page => Url.Action("GetRoom", new {page=page}), new X.PagedList.Web.Common.PagedListRenderOptions(){
	LiElementClasses = new List<String> {"page-item"},
	PageClasses = new List<String> {"page-link"}
	})
</div>