@model LoaiPhong

<div class="feature-full-1col">
	<div class="image" style="background-image: url(@Url.Content("../images/" + Model.Anh));">
		<div class="descrip text-center">
			<p><small>For as low as</small><span>@Model.Gia/night</span></p>
		</div>
	</div>
	<div class="desc">
		<h3><a asp-controller="Room" asp-action="PhongTheoLoai" asp-route-maloai="@Model.MaLp">@Model.LoaiPhong1</a></h3>
		<p>@Model.ThongTin</p>
		<p>
			<a asp-controller="Room" asp-action="PhongTheoLoai" asp-route-maloai="@Model.MaLp" class="btn btn-primary btn-luxe-primary">Book Now <i class="ti-angle-right"></i></a>
		</p>
	</div>
</div>